body{
    background-image: url("./Images/Ocean Blue.jpg");
    background-size: cover;
    margin: 0px;
    padding: 0px;
}

.menu-bar{
    background-color: black;
    opacity: .65;
    position: fixed;
    top: 0px;
    width: 100%;
    height: 18px;
    z-index: -999;
    overflow: hidden;
}

.apple{
    height: 15px;
    width: 15px;
    padding-left: 15px;
    padding-top: 1px;
    float: left;
}

.finder{
    height: 15px;
    width: 15px;
    padding-left: 20px;
    padding-top: 1px;
    font-weight: bold;
    float: left;
    color: white;
    font-size: 80%;
    font-family: Helvetica, sans-serif;
}

.file{
    height: 15px;
    width: 15px;
    padding-left: 45px;
    padding-top: 1px;
    font-weight: bold;
    float: left;
    color: white;
    font-size: 80%;
    font-family: Helvetica, sans-serif;
}


.edit{
    height: 15px;
    width: 15px;
    padding-left: 30px;
    padding-top: 1px;
    font-weight: bold;
    float: left;
    color: white;
    font-size: 80%;
    font-family: Helvetica, sans-serif;
}

.view{
    height: 15px;
    width: 15px;
    padding-left: 30px;
    padding-top: 1px;
    font-weight: bold;
    float: left;
    color: white;
    font-size: 80%;
    font-family: Helvetica, sans-serif;
}

.go{
    height: 15px;
    width: 15px;
    padding-left: 35px;
    padding-top: 1px;
    font-weight: bold;
    float: left;
    color: white;
    font-size: 80%;
    font-family: Helvetica, sans-serif;
}

.window{
    height: 15px;
    width: 15px;
    padding-left: 20px;
    padding-top: 1px;
    font-weight: bold;
    float: left;
    color: white;
    font-size: 80%;
    font-family: Helvetica, sans-serif;
}

.help{
    height: 15px;
    width: 15px;
    padding-left: 55px;
    padding-top: 1px;
    font-weight: bold;
    float: left;
    color: white;
    font-size: 80%;
    font-family: Helvetica, sans-serif;
}

.date{
    height: 15px;
    width: auto;
    padding-right: 15px;
    font-weight: bold;
    float: right;
    color: white;
    font-size: 80%;
    font-family: Helvetica, sans-serif;
}

.glass{
    height: 12px;
    width: 12px;
    padding-right: 20px;
    float: right;
}

.wifi{
    height: 13px;
    width: 25px;
    padding-right: 15px;
    float: right;
}

.terminal-back{
    background-color: black;
    opacity: 75%;
    display: flex;
    justify-content: center;
    align-content: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 1100px;
    height: 800px;
    border-radius: 25px;
    z-index: -999;

}

.buttons{
    height: 2%;
    width: 4%;
    padding-top: 1%;
    padding-right: 93%;
    min-width: fit-content;
    position: absolute;
}

#terminal-title{
    min-width: fit-content;
    padding-top: .8%;
    font-family: Helvetica, sans-serif;
    color: gray;
    font-weight: bold;
}

#inner-terminal{
    position: absolute;
    background-color: black;
    top: 52%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 1100px;
    height: 770px;
    border-radius: 25px;
    z-index: 999;
}

#prompt{
    color: white;
    font-family: Courier, monospace;
    font-weight: bold;
    padding-top: 1%;
    font-size: 110%;
}

#firstoption{
    background-color: transparent;
    color: cyan;
    font-family: Courier, monospace;
    font-weight: bolder;
    font-size: 30px;
    text-align: center;
    transition-duration: 0.4s;
    border-radius: 15px;
    border-color: cyan;
    margin-left: 18%;
    margin-top: 1%;
}

#firstoption:hover{
    background-color: gray;
    color: cyan;
    cursor: pointer;
}

#secoption{
    background-color: transparent;
    color: lightgreen;
    font-family: Courier, monospace;
    font-weight: bolder;
    font-size: 30px;
    text-align: center;
    transition-duration: 0.4s;
    border-radius: 15px;
    border-color: lightgreen;
    margin-left: 18%;
    margin-top: 1%;
}

#secoption:hover{
    background-color: gray;
    color: lightgreen;
    cursor: pointer;
}


img{
    height: 100%;
    width: 100%;
}

